<nav
       id="sidebarMenu"
       class="collapse d-lg-block sidebar collapse bg-white"
       >
    <div class="menu-list position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <a
          href="{% url 'home' %}"
          class="list-group-item list-group-item-action py-2 ripple"
          ><i class="fas fa-lock fa-fw me-3"></i><span>Indice</span></a>
        <a
           href="{% url 'tarjeta_mostrar_tarjetas' %}"
           class="list-group-item list-group-item-action py-2 ripple"
           aria-current="true"
           >
          <i class="fas fa-tachometer-alt fa-fw me-3"></i
            ><span>Administrar Mis Tarjetas</span>
        </a>
        <a
           href="{% url 'tarjeta_crear' %}"
           class="list-group-item list-group-item-action py-2 ripple"
           >
          <i class="fas fa-chart-area fa-fw me-3"></i
            ><span>Agregar Tarjeta</span>
        </a>
        <a
           href="#"
           class="list-group-item list-group-item-action py-2 ripple"
           ><i class="fas fa-chart-line fa-fw me-3"></i
          ><span>Analytics</span></a
          >
        <a
           href="#"
           class="list-group-item list-group-item-action py-2 ripple"
           >
          <i class="fas fa-chart-pie fa-fw me-3"></i><span>SEO</span>
        </a>
        <a
           href="#"
           class="list-group-item list-group-item-action py-2 ripple"
           ><i class="fas fa-chart-bar fa-fw me-3"></i><span>Orders</span></a
          >
      </div>
    </div>
  </nav>

<script type="text/javascript">
    var path = '{{request.get_full_path}}';
    $('.menu-list').find('a').each(function(){
        if(path.indexOf($(this).attr('href')) === 0 || ( path.indexOf('dispatch') >= 0 && $(this).attr('href').indexOf('dispatch') >= 0 )){
            $(this).addClass('active');
        }
    });
</script>
