{% extends 'index.html' %}

{% load static %}

{% block main_content %}

    <div class="container">
        <div class="card">
            <div class="row">
                <div class="card-header">
                    <h3 class="card-title">{{ title }}</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    {% for tarjeta in tarjetas %}
                    <div class="col-md-4 mb-4">
                        <div class="card" style="width: 18rem;">
                            {% with image_name=tarjeta.banco|slugify|add:'-'|add:tarjeta.tipo_tarjeta|add:'.png' %}
                            <img class="card-img-top" src="{% static 'img/tarjetas/'|add:image_name %}" alt="Card image cap">
                            {% endwith %}
                            <div class="card-body">
                                <h5 class="card-title">{{tarjeta.nombre}}</h5>
                                <p class="card-text">{{tarjeta.compania}}</p>
                                <a href="#" class="btn btn-primary">Ver Detalles</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}