{% extends 'index.html' %}

{% load static %}

{% block js %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var meses = "{{ultimos_5_meses|safe}}";
            meses = meses.replace('[', '').replace(']', '');
            console.log(meses.split(','));
            var monto = "{{monto_mensual|safe}}";
            monto.replace('[', ''), monto.replace(']', '');
            console.log(monto);

            var ctx = document.getElementById('graficoBarras').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: meses.split(','),
                    datasets: [{
                        label: 'Gastos Mensuales',
                        data: monto.split(','),
                        backgroundColor: [
                            'rgba(255, 0, 6, 0.4)',
                            'rgba(0, 0, 255, 0.4)',
                            'rgba(0, 255, 0, 0.4)',
                            'rgba(255, 255, 0, 0.4)',
                            'rgba(255, 0, 255, 0.4)'
                        ],
                        borderColor: [
                            'rgba(255, 0, 0)',
                            'rgba(0, 0, 255)',
                            'rgba(0, 255, 0)',
                            'rgba(255, 255, 0)',
                            'rgba(255, 0, 255)'
                        ],
                        borderWidth: 2
                    }]
                },
                options: {
                    scales: {
                        y: {
                            'beginAtZero': true,
                            'title': {
                                'display': true,
                                'text': 'Monto'
                            }
                        },
                        x: {
                            'title': {
                                'display': true,
                                'text': 'Meses'
                            }
                        }
                    },
                    responsive: true,
                    maintainAspectRatio: false,
                }
                })
        });
    </script>
{% endblock %}

{% block main_content %}

        <div class="card">
            <div class="row">
                <div class="card-header">
                    <h3 class="card-title">{{ title }}</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row text-center">
                            <h4>Grafico gastos mensuales</h2>
                        </div>
                        <div style="width: 400; height: 250px;">
                            <canvas id="graficoBarras"></canvas>
                        </div>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
            </div>
        </div>

{% endblock %}