{% extends 'index.html' %}

{% block main_content %}
    <div class="container">
        <div class="card">
            <form  method="POST">
                <div class="row">
                    <div class="card-header">
                        <h3 class="card-title">{{ title }}</h3>
                    </div>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            {{ field }}
                        </div>
                    {% endfor %}
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}