{% extends 'index.html' %}
{% load static %}
{% load bootstrap5 %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/formularios/creacion.js' %}"></script>
    {{ form.media.js }}
{% endblock %}
{% block css %}
    {{ form.media.css }}
{% endblock %}

{% block main_content %}
    <div class="card">
        <form id="formulario-tarjeta" method="POST">
            <div class="row">
                <div class="card-header">
                    <h3 class="card-title">{{ title }}</h3>
                </div>
            </div>
            <div class="card-body">
                {% csrf_token %}
                <div class="row">
                    {% for field in form %}
                        <div class="col-md-3">
                            <div class="form-group">
                                {% bootstrap_field field layout='vertical' show_label=True %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Agregar</button>
            </div>
        </form>
    </div>
{% endblock %}